.MusicItemRow .Accessory {
    opacity: 0.0;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

.MusicItemRow:hover .Accessory {
    opacity: 1.0;
}

.LikeButton {
    color: #CC506C !important;
}

@media only screen and (max-width: 768px) {
    .MusicItemRow .Accessory {
        opacity: 1.0;
    }
}