.PlaylistSelector {
    .PlaylistItem {
        color: #fff !important;
        border: 1px solid $PrimaryColor4;
    }

    .PlaylistItem:focus {
        outline: none !important;
    }

    .PlaylistItemSelected {
        background-color: $AccentColor
    }
}